<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ViewDateDiaryEntryServlet</servlet-name>
        <servlet-class>control.journals.ViewDateDiaryEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDiaryEntriesByDateServlet</servlet-name>
        <servlet-class>control.journals.ViewDiaryEntriesByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiaryEntryServlet</servlet-name>
        <servlet-class>control.journals.AddDiaryEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerQOTDServlet</servlet-name>
        <servlet-class>control.journals.AnswerQOTDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfileDetails</servlet-name>
        <servlet-class>control.general.UpdateUserProfileDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginTherapist</servlet-name>
        <servlet-class>control.general.loginTherapist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTherapistServlet</servlet-name>
        <servlet-class>control.therapy.LoadTherapistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseTherapistServlet</servlet-name>
        <servlet-class>control.therapy.ChooseTherapistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>control.therapy.SendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTherapistServlet</servlet-name>
        <servlet-class>control.therapy.ChangeTherapistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPatientServlet</servlet-name>
        <servlet-class>control.therapy.LoadPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadScheduleServlet</servlet-name>
        <servlet-class>control.therapy.LoadScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTimeSlotServlet</servlet-name>
        <servlet-class>control.therapy.AddTimeSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimeSlotServlet</servlet-name>
        <servlet-class>control.therapy.DeleteTimeSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>control.therapy.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentServlet</servlet-name>
        <servlet-class>control.therapy.CancelAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAssignedPatients</servlet-name>
        <servlet-class>control.therapy.LoadAssignedPatients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDiaryEntryServlet</servlet-name>
        <servlet-class>control.journals.ViewDiaryEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserForestData</servlet-name>
        <servlet-class>control.forest.GetUserForestData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLandTypeServlet</servlet-name>
        <servlet-class>control.forest.UpdateLandTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLevelServlet</servlet-name>
        <servlet-class>control.forest.UserLevelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantItemServlet</servlet-name>
        <servlet-class>control.forest.PlantItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TreeBoxOpenServlet2</servlet-name>
        <servlet-class>control.forest.TreeBoxOpenServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>control.forest.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginStreakServlet</servlet-name>
        <servlet-class>control.forest.CheckLoginStreakServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimLoginRewardServlet</servlet-name>
        <servlet-class>control.forest.ClaimLoginRewardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FocusSessionServlet</servlet-name>
        <servlet-class>control.forest.FocusSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFriendForestDataServlet</servlet-name>
        <servlet-class>control.forest.GetFriendForestDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchaseItem</servlet-name>
        <servlet-class>control.forest.purchaseItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckShovelInventoryServlet</servlet-name>
        <servlet-class>control.forest.CheckShovelInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWitheredTreeServlet</servlet-name>
        <servlet-class>control.forest.RemoveWitheredTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearPlotServlet</servlet-name>
        <servlet-class>control.forest.ClearPlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDailyTasksServlet</servlet-name>
        <servlet-class>control.forest.GetDailyTasksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteTaskServlet</servlet-name>
        <servlet-class>control.forest.CompleteTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomTaskServlet</servlet-name>
        <servlet-class>control.forest.CustomTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFriendForestData</servlet-name>
        <servlet-class>control.forest.GetFriendForestData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchForestData</servlet-name>
        <servlet-class>control.forest.SearchForestData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewForumEntryServlet</servlet-name>
        <servlet-class>control.forum.ViewForumEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewForumDetailServlet</servlet-name>
        <servlet-class>control.forum.ViewForumDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddForumThreadServlet</servlet-name>
        <servlet-class>control.forum.AddForumThreadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddForumThreadCommentServlet</servlet-name>
        <servlet-class>control.forum.AddForumThreadCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditForumThreadCommentServlet</servlet-name>
        <servlet-class>control.forum.EditForumThreadCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetThreadCategoriesServlet</servlet-name>
        <servlet-class>control.forum.GetThreadCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteForumThreadCommentServlet</servlet-name>
        <servlet-class>control.forum.DeleteForumThreadCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateForumVoteTypeServlet</servlet-name>
        <servlet-class>control.forum.UpdateForumVoteTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddForumReportContentServlet</servlet-name>
        <servlet-class>control.forum.AddForumReportContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewForumReportedContentServlet</servlet-name>
        <servlet-class>control.forum.ViewForumReportedContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateForumReportedContentServlet</servlet-name>
        <servlet-class>control.forum.UpdateForumReportedContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewForumReportContentServlet</servlet-name>
        <servlet-class>control.forum.ViewForumReportContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDiaryEntriesByDateServlet</servlet-name>
        <url-pattern>/ViewDiaryEntriesByDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreeBoxOpenServlet2</servlet-name>
        <url-pattern>/TreeBoxOpenServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDateDiaryEntryServlet</servlet-name>
        <url-pattern>/ViewDateDiaryEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerQOTDServlet</servlet-name>
        <url-pattern>/AnswerQOTDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfileDetails</servlet-name>
        <url-pattern>/UpdateUserProfileDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTherapistServlet</servlet-name>
        <url-pattern>/LoadTherapistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDiaryEntryServlet</servlet-name>
        <url-pattern>/ViewDiaryEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseTherapistServlet</servlet-name>
        <url-pattern>/ChooseTherapistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/SendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTherapistServlet</servlet-name>
        <url-pattern>/ChangeTherapistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginTherapist</servlet-name>
        <url-pattern>/loginTherapist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPatientServlet</servlet-name>
        <url-pattern>/LoadPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadScheduleServlet</servlet-name>
        <url-pattern>/LoadScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTimeSlotServlet</servlet-name>
        <url-pattern>/AddTimeSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimeSlotServlet</servlet-name>
        <url-pattern>/DeleteTimeSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserForestData</servlet-name>
        <url-pattern>/GetUserForestData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentServlet</servlet-name>
        <url-pattern>/CancelAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiaryEntryServlet</servlet-name>
        <url-pattern>/AddDiaryEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAssignedPatients</servlet-name>
        <url-pattern>/LoadAssignedPatients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLandTypeServlet</servlet-name>
        <url-pattern>/UpdateLandTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLevelServlet</servlet-name>
        <url-pattern>/UserLevelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchaseItem</servlet-name>
        <url-pattern>/purchaseItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginStreakServlet</servlet-name>
        <url-pattern>/CheckLoginStreakServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimLoginRewardServlet</servlet-name>
        <url-pattern>/ClaimLoginRewardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FocusSessionServlet</servlet-name>
        <url-pattern>/FocusSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckShovelInventoryServlet</servlet-name>
        <url-pattern>/CheckShovelInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWitheredTreeServlet</servlet-name>
        <url-pattern>/RemoveWitheredTreeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearPlotServlet</servlet-name>
        <url-pattern>/ClearPlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDailyTasksServlet</servlet-name>
        <url-pattern>/GetDailyTasksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteTaskServlet</servlet-name>
        <url-pattern>/CompleteTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomTaskServlet</servlet-name>
        <url-pattern>/CustomTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFriendForestDataServlet</servlet-name>
        <url-pattern>/GetFriendForestDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantItemServlet</servlet-name>
        <url-pattern>/PlantItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFriendForestData</servlet-name>
        <url-pattern>/GetFriendForestData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchForestData</servlet-name>
        <url-pattern>/SearchForestData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewForumEntryServlet</servlet-name>
        <url-pattern>/ViewForumEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewForumDetailServlet</servlet-name>
        <url-pattern>/ViewForumDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddForumThreadServlet</servlet-name>
        <url-pattern>/AddForumThreadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddForumThreadCommentServlet</servlet-name>
        <url-pattern>/AddForumThreadCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditForumThreadCommentServlet</servlet-name>
        <url-pattern>/EditForumThreadCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetThreadCategoriesServlet</servlet-name>
        <url-pattern>/GetThreadCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteForumThreadCommentServlet</servlet-name>
        <url-pattern>/DeleteForumThreadCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateForumVoteTypeServlet</servlet-name>
        <url-pattern>/UpdateForumVoteTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddForumReportContentServlet</servlet-name>
        <url-pattern>/AddForumReportContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewForumReportedContentServlet</servlet-name>
        <url-pattern>/ViewForumReportedContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateForumReportedContentServlet</servlet-name>
        <url-pattern>/UpdateForumReportedContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewForumReportContentServlet</servlet-name>
        <url-pattern>/ViewForumReportContentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
