/* 
    Created on : Mar 6, 2025, 10:44:21 AM
    Author     : JiaQuann
*/

@import url('https://fonts.googleapis.com/css?family=Silkscreen');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/phosphor-icons@1.4.2/src/css/icons.min.css");

/* GENERAL&LIGHT MODE*/
body {
    font-family: 'Silkscreen', sans-serif;
    background: #faf8f2;
    padding-top: 30px;
}

section.incsec {
    padding-top: 30px;
}

::-webkit-scrollbar {
    width: 8px;
}
&::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}


nav {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.navbar {
    background: #faf8f2;
    position: fixed;
    right: 0;
    left: 0;
}

.top-header {
    padding: 10px 20px;
    top: 0;
    z-index: 1030;
}

.second-header {
    top: 63px;
    z-index: 1020;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navpad {
    padding-top: 5px;
}
.navbar .container {
    position: relative;
}

.navbar .d-flex.flex-row.mx-auto {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar a:hover svg {
    fill: black;
}
.navbar a:hover p {
    color: black;
}
p.active {
    color: black !important;
}
a.active {
    color: black !important;
    background: #e3e1dc !important;
}
svg.svgactive {
    fill: #000000 !important;
}

.bluehover:hover svg {
    fill: #4e74a0 !important;
}
.bluehover:hover p {
    color: #4e74a0 !important;
}

.nav-link {
    font-size: 14px;
    color: #888783;
}
.nav-link:hover {
    background-color: #eceae5;
    color: black !important;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.logo-font {
    font-size: 20px;
}
a.btn:hover {
    background-color: #eceae5;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.small {
    font-size: 0.65rem;
}
p.small {
    color: #888783;
}

.dropdown-toggle::after {
    display: none !important;
}
.dropdown-menu {
    background: #f2efe6;
}
.dropdown-item:hover {
    background-color: #deded4;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


/*DARK MODE*/
[data-theme="mizuki_dark"] {
    --bg: #242424;
    --font: #cecece;
    --hoverblue: #4978a8;
    --hovergrey: #464646;
}

[data-theme="mizuki_dark"] body {
    background: var(--bg);
    color: var(--font);
}

[data-theme="mizuki_dark"] nav {
    background: var(--bg);
}

[data-theme="mizuki_dark"] .navbar a:hover svg {
    fill: var(--font);
}

[data-theme="mizuki_dark"] .navbar a:hover p {
    color: var(--font);
}

[data-theme="mizuki_dark"] .bluehover:hover svg {
    fill: var(--hoverblue) !important;
}

[data-theme="mizuki_dark"] .bluehover:hover p {
    color: var(--hoverblue) !important;
}

[data-theme="mizuki_dark"] a.btn:hover {
    background-color: var(--hovergrey);
}

[data-theme="mizuki_dark"] .logo-font {
    color: var(--font);
}
[data-theme="mizuki_dark"] .dropdown-menu {
    background: var(--bg);
}
[data-theme="mizuki_dark"] .dropdown-item {
    color: var(--font);
}
[data-theme="mizuki_dark"] .dropdown-item:hover {
    background-color: var(--hovergrey);
}

.navbar a:hover svg {
    fill: var(--font);
}

[data-theme="mizuki_dark"] .navbar a:hover p {
    color: var(--font);
}

[data-theme="mizuki_dark"] p.active {
    color: var(--font) !important;
}
[data-theme="mizuki_dark"] a.active {
    background: var(--font) !important;
}
[data-theme="mizuki_dark"] svg.svgactive {
    fill: var(--font) !important;
}

.tree{

}


